<!doctype html>
<link rel="icon" href="{{ url_for('static', filename='icons/favicon/favicon.ico') }}">
<title>{% block title %}{% endblock %} - Inventory</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% if g.user %}
<nav>
  <ul>
      <li><span>{{ g.user[1] }}</span>
      <li><a href="{{ url_for('auth.logout') }}" class="btn-53">
        <div class="original">Log Out</div>
        <div class="letters">
          <span>B</span>
          <span>Y</span>
          <span>E</span>
          <span>?</span>
        </div>
      </a>
  </ul>
</nav>
{% endif %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash" data-flash>{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const flashMessages = document.querySelectorAll('[data-flash]');
    
    flashMessages.forEach(message => {
      // Remove after 5 seconds (5000ms)
      setTimeout(() => {
        message.style.opacity = '0';
        setTimeout(() => message.remove(), 500); // Match this with CSS transition
      }, 5000);
    });
  });
  </script>