{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Reset Password for {{ entry[1] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<main class="auth-page">
  <form method="post">
    <label for="new-password">New Password</label>
    <input type="text" name="new-password" id="new-password">
    <label for="confirm-password">Confirm Password</label>
    <input type="text" name="confirm-password" id="confirm-password">
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
{% endblock %}