{% extends "base.html" %}

{% block header %}
<h1>{% block title%}Create Entry in {{ table_name }}{% endblock%}</h1>
{% endblock %}

{% block content %}
<div class="form-compact create-bg">
  <form method="post" class="form-compact-form">
    {% for column in columns %}
      {% if not (column.endswith('_id') or column == 'id' or column == 'last_updated') %}
      <div class="form-row">
        <label for="{{ column }}" class="form-label">{{ column }}{% if not_null_columns and not_null_columns.get(column) %}<span class="required-asterisk">*</span>{% endif %}</label>
        {% if column == 'Assigned To' %}
          <input type="text" class="form-input" id="Assigned-To" name="Assigned To" list="assigned-to-list" >
          <datalist id="assigned-to-list">
            {% for option in dropdown_options[column] %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </datalist>
          <button type="button" class="btn btn-secondary btn-clear" onclick="document.getElementById('Assigned-To').value = '';">Clear</button>
        {% elif column in dropdown_options %}
          <select class="form-input" id="{{ column }}" name="{{ column }}">
            {% for option in dropdown_options[column] %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
        {% else %}
          <input type="text" class="form-input" id="{{ column }}" name="{{ column }}">
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-compact">Submit</button>
  </form>
</div>
{% endblock %}