{% extends "base.html" %}
 
{% block title %} {{ table_name }} {% endblock %}

{% block content %}
<main id="tables-view">
  <table class="table table-striped sortable" id="main-table">
    <thead>
      <tr>
        {% for column in columns if column != 'password'%}
          <th style="cursor:pointer;">
            {{ column }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
        {% for column, value in zip(columns, item) %}
          {% if column != 'password' %}
            {% if loop.index0 == 0 %}
            <td>
              {{ value }}
              <a href="{{ url_for('dashboard_admin.update', table_name=table_name, id=item[0], **request.args) }}" class="btn btn-create">
                <img src="{{ url_for('static', filename='icons/edit.svg') }}" alt="Edit" class="icon">
              </a>
              <a href="{{ url_for('dashboard_admin.history', table_name=table_name, id=item[0], **request.args)}}">
                <img src="{{ url_for('static', filename='icons/history.svg') }}" alt="History" class="icon">
              </a>
            </td>
            {% else %}
            <td>{{ value }}</td>
            {% endif %}
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if total_pages > 1 %}
  <div class="pagination">
      {% if page > 1 %}
          <a href="{{ url_for('dashboard_user.index', table_name=table_name, page=page-1, **pagination_args) }}">&laquo; Prev</a>
      {% endif %}
      
      {% for p in range(1, total_pages+1) %}
          {% if p == page %}
              <a href="#" class="active">{{ p }}</a>
          {% else %}
              <a href="{{ url_for('dashboard_user.index', table_name=table_name, page=p, **pagination_args) }}">{{ p }}</a>
          {% endif %}
      {% endfor %}
      
      {% if page < total_pages %}
          <a href="{{ url_for('dashboard_user.index', table_name=table_name, page=page+1, **pagination_args) }}">Next &raquo;</a>
      {% endif %}
  </div>
  {% endif %}
</main>
{% endblock %}