{% extends "base.html" %}
 
{% block title %} {{ table_name }} {% endblock %}

{% block content %}
<main id="tables-view">
  <table class="table table-striped" id="main-table">
    <thead>
      <tr>
        {% for column in columns %}
          <th>{{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {% if g.user[3] == 'admin' %}
        <tr onclick="window.location='{{ url_for('dashboard.update', table_name=table_name, id=item[0]) }}'" style="cursor: pointer;">
        {% else %}
        <tr>
        {% endif %}
          {% for value in item %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}