{% extends "base.html" %}

{% block content %}
<main id="reset-password-view">
    <form method="post">
        {% for column in columns %}
          <div class="form-group">
            {% if not (column.endswith('_id') or column == 'id' or column == 'last_updated') %}
              <label for="{{ column }}">{{ column }}</label>
                {% if not (table_name == 'items_disposal' or table_name == 'employees_archive') %}
                  {% if column in dropdown_options %}
                    <!-- Render dropdown menu for specific columns -->
                    <select class="form-control" id="{{ column }}" name="{{ column }}" required>
                      {% for option in dropdown_options[column] %}
                      <option value="{{ option }}" {% if entry[columns.index(column)] == option %}selected{% endif %}>
                        {{ option }}
                      </option>
                      {% endfor %}
                    </select>
                  {% else %}
                    <input type="text" class="form-control" id="{{ column }}" name="{{ column }}" 
                    value="{{ entry[loop.index0] if entry[loop.index0] is not none else '' }}" required>
                  {% endif %}
                {% else %}
                    <span>{{ entry[loop.index0] if entry[loop.index0] is not none else '' }}</span>
                {% endif %}
              {% endif %}
          </div>
        {% endfor %}
        {% if not (table_name == 'items_disposal' or table_name == 'employees_archive') %}
        <button type="submit" class="btn btn-primary">Update</button>
        {% endif %}
    </form>
{% endblock %}