{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Update {{ entry[1] if table_name == 'employees' or table_name == 'user_accounts' else entry[0] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="form-compact update-bg">
  <form method="post" class="form-compact-form">
    {% for column in columns if column != 'password' %}
      {% if not (column.endswith('_id') or column in ['id', 'last_updated', 'last_updated_by', 'item_name']) %}
      <div class="form-row">
        <label for="{{ column }}" class="form-label">{{ column.replace('_', ' ').title() }}{% if not_null_columns and not_null_columns.get(column) %}<span class="required-asterisk">*</span>{% endif %}</label>
        {% if not (column == 'username') %}
          {% if column == 'Assigned To' %}
            <input type="text" class="form-input" id="Assigned-To" name="Assigned To" list="assigned-to-list" value="{{ entry[columns.index(column)] if entry[columns.index(column)] is not none else '' }}">
            <datalist id="assigned-to-list">
              {% for option in dropdown_options[column] %}
              <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
            </datalist>
            <button type="button" class="btn btn-secondary btn-clear" onclick="document.getElementById('Assigned-To').value = '';">Clear</button>
          {% elif column in dropdown_options %}
            <select class="form-input" id="{{ column|replace(' ', '-') }}" name="{{ column }}">
              {% for option in dropdown_options[column] %}
              <option value="{{ option }}" {% if entry[columns.index(column)] == option %}selected{% endif %}>{{ option if option else '-- None --' }}</option>
              {% endfor %}
            </select>
          {% else %}
            <input type="text" class="form-input" id="{{ column }}" name="{{ column }}" value="{{ entry[loop.index0] if entry[loop.index0] is not none else '' }}">
          {% endif %}
        {% else %}
          <input type="text" class="form-input" id="{{ column }}" name="{{ column }}" value="{{ entry[loop.index0] if entry[loop.index0] is not none else '' }}" readonly>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    {% if not (table_name == 'items_disposal' or table_name == 'employees_archive') %}
    <button type="submit" class="btn btn-primary btn-compact">Update</button>
    {% endif %}
  </form>
  {% if table_name in ['items', 'user_accounts'] %}
  <form action="{{ url_for('dashboard_admin.delete', table_name = table_name, id = entry[0], **preserved_args) }}" method="post" id="delete" class="delete-form">
    <button type="submit" class="btn-danger">
      <img src="{{ url_for('static', filename='icons/delete_forever.svg')}}" class="icon-danger">
    </button>
  </form>
  {% endif %}
  {% if table_name == 'user_accounts' %}
    <a href="{{ url_for('auth.reset_password', id = entry[0], table_name=table_name) }}" class="btn btn-primary btn-compact" id="btn-reset-password">
      <img src="{{ url_for('static', filename='icons/password_reset.svg')}}" class="icon-reset">
      Reset Password
    </a>
  {% endif %}
</div>
{% endblock %}